# Local variables
**/.env
**/.env.*
!**/.env.example

# Waste folders
Wordpress_docker/wp-content/themes/*
Wordpress_docker/wp-content/languages/*
Wordpress_docker/wp-content/plugins/*
Wordpress_docker/wp-content/upgrade/*
Wordpress_docker/wp-content/uploads/*

# Add .gitkeep file
!Wordpress_docker/wp-content/themes/*.gitkeep
!Wordpress_docker/wp-content/languages/*.gitkeep
!Wordpress_docker/wp-content/plugins/*.gitkeep
!Wordpress_docker/wp-content/upgrade/*.gitkeep
!Wordpress_docker/wp-content/uploads/*.gitkeep

*.log